.navbar li a:hover {
    color: #eee;
    background: rgba(0, 0, 0, 0);
}
.navbar li a:focus {
    background: rgba(0, 0, 0, 0);
}

/***** HEADER *****/
.header-btn:hover {
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    text-decoration: none;
    color: #3498db;
    background-color: white;
}
.header-btn:focus {
    text-decoration: none;
    color: white;
}

/***** MAIN *****/

.main {
    height: 100%;
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: #bdc3c7;
}
.main img {
    margin-bottom: 20px;
}

/***** ABOUT *****/

.about {
    height: 100vh;
    background-color: #9b59b6;
}
.me {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.about p {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    color: white;
    font-size: 25px;
}
.about .social {
    margin: 0 20px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.about img:hover {
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
}

/***** MUSIC *****/

.music {
    height: 100%;
    padding-top: 70px;
    padding-bottom: 50px;
    background: #2980b9;
}
.music img {
    margin-bottom: 20px;
}

/***** CONTACT *****/

.contact {
    height: 100vh;
    background-color: #34495e;
}
.contact h1 {
    color: #233240;
    font-size: 75px;
}
.contact p {
    letter-spacing: 2px;
    color: white;
    font-size: 30px;
}

/***** HELPER *****/
.grow {
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    transform: scale(1);
    border: 0;
}
.grow:hover {
    z-index: 2;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.social-grow {
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    transform: scale(1);
    border: 0;
}
.social-grow:hover {
    z-index: 2;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    -webkit-transform: scale(1.05);
    transform: scale(1.4);
}

/***** MEDIA QUERIES *****/

@media screen and (max-width: 767px) {
    .navbar {
        background: rgba(0, 0, 0, 0.4);
    }
    header .title {
        font-size: 100px;
    }
    header .subtext {
        font-size: 40px;
    }
}

/***** iPhone 2G-4s Portrait *****/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
    .jumbotron h1 {
        font-size: 50px;
    }
    .jumbotron .subtext {
        font-size: 20px;
    }
    .jumbotron .header-btn {
        padding: 20px 40px;
        font-size: 20px;
        background: none;
    }
    .jumbotron img {
        width: 25px;
        height: 25px;
    }
    .about {
        height: 600px;
    }
    .about p {
        font-size: 13px;
        margin: 20px 0;
    }
    .about .social {
        width: 20px;
        height: 20px;
    }
    .about .me {
        width: 120px;
        height: 120px;
    }
    .contact h1 {
        font-size: 40px;
    }
    .contact p {
        font-size: 20px;
        letter-spacing: normal;
    }
}

/***** iPhone 5-5s Portraint *****/

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
    .about .me {
        width: 150px;
        height: 150px;
    }
    .about p {
        font-size: 15px;
    }
    .about .social {
        width: 25px;
        height: 25px;
    }
}
