body {
  background: url(../images/crossword.png) repeat;
  font-family: 'Montserrat', sans-serif;
}

/***** INDEX PAGE *****/

.navbar {
  background: rgba(241, 241, 241, 0.6);
}

.navbar li a:hover {
  background: white;
  color: black;
}

.navbar-brand:hover {
  color: black;
}

.navbar li {
  text-align: center;
}

.navbar a {
  color: rgb(30, 30, 32);
  -webkit-transition: 0.5s ease;
          transition: 0.5s ease;
}

.icon-bar {
  background: rgb(30, 30, 32);
}

.jumbotron {
  background: url(../images/jumbotron.jpg) no-repeat center center fixed;
  background-size: cover;
  /*height: 800px;*/
  height: 100vh;
  border-bottom: 1px solid rgba(30, 30, 32, 0.5);
}

.jumbotron h1 {
  color: white;
  text-shadow: 1px 2px #000;
  background: rgba(30, 30, 32, 0.8);
  padding: 5px 5px;
}

.main img, .projects-music img {
  margin-bottom: 20px;
}

.main-text {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

/* Testing stuff */

/* to put text ontop an image */


.projects-main p {
  background: white;
  color: rgb(30, 30, 32);
}

.page-divider {
  background-color: #2A2C2B;
  height: 300px;
  margin-bottom: 20px;
}

.page-divider h1 {
  color: white;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section-header {
  border-left: 2px solid black;
  padding-left: 10px;
}

.css-span {
  color: #34AADC;
  font-weight: bold;
}

.html-span {
  color: #F0652A;
  font-weight: bold;
}

.jquery-span {
  color: #ED4747;
  font-weight: bold;
}

.to-middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

hr {
  border-bottom: 1px solid black;
}

.email {
  letter-spacing: 5px;
}

.contact-main {
  height: 100vh;
}

.contact-main h3, .contact-main p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}

.about-main {
  height: 500px;
}

.about-main-secondary {
  height: 500px;
  background: rgb(30, 30, 32);
  color: white;
}

.projects-main img {
  height: 400px;
  width: 555px;
}

.main img {
  width: 360px;
  height: 243px;
}

.projects-span {
  background: rgba(30, 30, 32, 0.8);
  padding: 5px 5px;
}

.projects-span a {
  color: rgba(250, 250, 250, 1);
  text-decoration: none;
  -webkit-transition: .5s ease;
          transition: .5s ease;
}

.main-text a:hover {
  color: white;
  letter-spacing: 5px;
}

/* Medua Queries */
@media screen and (max-width: 767px) {
  .navbar {
    background: rgba(255, 255, 255, 0.9);
  }
}

@media screen and (max-width: 991px) {
  .silhouettes {
    width: 565px;
  }
}

/*
@media screen and (max-width: 653px) {

    .projects-span {
      background: none;
      padding: 0 0;
    }

    .projects-span a {
      color: black;
    }

    .projects-span a:hover {
      letter-spacing: 0;
      color: black;
    }

    h1 {
      font-size: 33px;
    }
}
*/

@media screen and (max-width: 484px) {
  .email {
    letter-spacing: 0;
    margin-bottom: 30px;
    font-size: 20px;
  }
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .projects-span {
      background: none;
      padding: 0 0;
    }

    .projects-span a {
      color: black;
    }

    .projects-span a:hover {
      letter-spacing: 0;
      color: black;
    }

    h1 {
      font-size: 33px;
    }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .projects-span {
      background: none;
      padding: 0 0;
    }

    .projects-span a {
      color: black;
    }

    .projects-span a:hover {
      letter-spacing: 0;
      color: black;
    }

    h1 {
      font-size: 33px;
    }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .projects-span {
      background: none;
      padding: 0 0;
    }

    .projects-span a {
      color: black;
    }

    .projects-span a:hover {
      letter-spacing: 0;
      color: black;
    }

    h1 {
      font-size: 33px;
    }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .projects-span {
      background: none;
      padding: 0 0;
    }

    .projects-span a {
      color: black;
    }

    .projects-span a:hover {
      letter-spacing: 0;
      color: black;
    }

    h1 {
      font-size: 33px;
    }
}

/*

@media screen and (min-width: 546px) {
  .jumbotron h1 {
    margin-top: 250px;
  }
}

@media screen and (min-width: 768px) {
  .jumbotron h1 {
    margin-top: 150px;
  }
}
