body {
  height: 100%;
  width: 100%;
  background: url(../crowd.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  font-weight: bold; }

.navbar {
  margin-bottom: 0;
  border: none; }

nav {
  background: #262626;
  padding: 15px; }
  nav a {
    color: #ecf0f1; }
    nav a:hover {
      color: #ecf0f1; }
  nav .navbar-brand {
    color: #28DBD2;
    font-size: 25px;
    margin-top: -3px;
    -webkit-transition: ease 0.3s all;
            transition: ease 0.3s all; }
    nav .navbar-brand:hover {
      color: rgba(41, 219, 210, 0.5);
      -webkit-transition: ease 0.3s all;
              transition: ease 0.3s all; }

ul.nav a:hover {
  background: none;
  color: #ecf0f1; }
ul .subtext {
  font-size: 12px;
  margin-left: -20px; }

.nav-middle {
  padding-left: 50px; }

.navbar-right li a {
  padding: 5px 15px;
  margin-top: 10px;
  -webkit-transition: ease 0.3s all;
          transition: ease 0.3s all; }
  .navbar-right li a:hover {
    background: rgba(41, 219, 210, 0.5);
    -webkit-transition: ease 0.3s all;
            transition: ease 0.3s all; }
.navbar-right li .little-guy:hover {
  background: none; }

.main-btn {
  background: #28DBD2;
  border-radius: 20px; }

.sidebar {
  background: -webkit-linear-gradient(top, #262626 50%, transparent 100%);
  position: absolute;
  height: 100%;
  width: 200px;
  left: -200px;
  -webkit-transition: left 0.7s ease;
          transition: left 0.7s ease;
  z-index: 10; }
  .sidebar.sidebar-visible {
    position: absolute;
    left: 0px;
    height: 100%;
    width: 200px;
    -webkit-transition: left 0.5s ease;
            transition: left 0.5s ease;
    background: -webkit-linear-gradient(top, #262626 50%, transparent 100%);
    z-index: 10; }
  .sidebar button {
    position: relative;
    right: -80px;
    top: -320px;
    background-color: rgba(40, 219, 210, 0.3);
    border-radius: 2px;
    -webkit-transition: ease 0.7s all;
            transition: ease 0.7s all;
    z-index: 10; }
    .sidebar button span {
      background: white; }
    .sidebar button.rotated {
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg);
      -webkit-transition: ease 0.5s all;
              transition: ease 0.5s all;
      background: #28DBD2; }
  .sidebar h3 {
    color: #28DBD2;
    text-align: center;
    margin-bottom: -8px; }
  .sidebar p {
    color: #ecf0f1;
    text-align: center; }
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 40px; }
    .sidebar ul li {
      color: #ecf0f1;
      text-align: center;
      padding: 20px 0;
      background: #313131; }
      .sidebar ul li:nth-child(1) {
        border-bottom: 1px solid #6a6a6a; }
      .sidebar ul li:nth-child(2) {
        border-bottom: 1px solid #6a6a6a; }
      .sidebar ul li:hover {
        background: rgba(106, 106, 106, 0.5); }
    .sidebar ul .curateur {
      background-color: #28DBD2; }
      .sidebar ul .curateur:hover {
        background: rgba(41, 219, 210, 0.5); }
    .sidebar ul a {
      color: #ecf0f1;
      text-decoration: none; }

.mobile {
  position: absolute;
  width: 100%;
  height: 100%; }
  .mobile h1 {
    text-align: center;
    color: #28DBD2; }
  .mobile span {
    color: #ecf0f1;
    font-size: 12px;
    vertical-align: middle; }

#main {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1; }
  #main .content-box {
    width: 400px;
    height: 550px;
    background-color: #262626;
    margin: 0 auto;
    z-index: 1; }
  #main .content-box-header {
    width: 100%;
    height: 200px;
    background-color: #313131; }
    #main .content-box-header h1 {
      color: #28DBD2; }
    #main .content-box-header span {
      color: #6a6a6a;
      font-size: 14px;
      vertical-align: middle;
      margin-left: 5px; }

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 40px; }
  .social li {
    display: inline;
    padding: 0 50px;
    color: #ecf0f1; }
    .social li:hover {
      border-bottom: 2px solid rgba(41, 219, 210, 0.5);
      cursor: pointer; }
    .social li:nth-child(2) {
      border-bottom: 2px solid #28DBD2; }

.facebook {
  padding: 10px;
  border: 1px solid #ecf0f1;
  border-radius: 40px;
  width: 300px;
  margin: 0 auto;
  cursor: pointer; }
  .facebook p {
    color: #ecf0f1;
    margin-bottom: 0; }
  .facebook span {
    margin-right: 20px; }

.ou {
  color: #ecf0f1;
  margin: 30px;
  font-size: 18px; }

.input-group {
  width: 300px;
  margin: 0 auto; }
  .input-group .glyphicon {
    color: rgba(255, 255, 255, 0.5); }
  .input-group span {
    background: none;
    color: white;
    border: 1px solid #6a6a6a;
    border-right: none; }
  .input-group input {
    background: none;
    border: 1px solid #6a6a6a;
    border-left: none;
    color: #ecf0f1; }
    .input-group input:focus {
      box-shadow: none;
      outline: none;
      border: 1px solid #6a6a6a;
      border-left: none; }

.conditions {
  text-align: right;
  color: #6a6a6a;
  padding-right: 50px;
  margin-top: 10px;
  font-size: 12px; }

.first-group {
  margin-bottom: 15px; }

.continue-btn {
  background-color: #28DBD2;
  width: 400px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer; }
  .continue-btn h1 {
    font-size: 16px;
    color: #ecf0f1;
    margin: 0;
    padding: 20px 0; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
      transform: translateY(-50%); }

/*# sourceMappingURL=style.css.map */